



[wm-flappy]{
    position: relative;
    width: 55%;
    height: 55%;
     background-color: #56BCFC;
     border: 2px solid #3D7CB6;
    overflow: hidden;
    flex-flow: row nowrap;
    z-index: 0;
    display: flex;
  
   
   }


.cano{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    position: relative;
}



.cano-superior{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border: 1px solid black;
    height: 300%        ;
    width: 80px;
    left: 90%;
    background: linear-gradient(to right,#32CD32
    ,#FFD700);


}



.cano-inferior{
    display: flex;
    flex-direction: column-reverse;
    
    background: linear-gradient(to right,#32CD32
    ,#FFD700);
    position: relative;
    border: 1px solid black;
    height:100%;
    width: 80px;
    left: 90%;

}


.espaço{
    position: relative;
    
    margin: 50px;
    left: 50%;
}


.cano-superior .tampa{
    position: relative;
    border: 1px solid black;
    width: 110px;
    right: 15px;
    top: -10px;
  
    height: 15px;
    background: linear-gradient(to right,#32CD32
    ,#FFD700);
}
.cano-inferior .tampa{
    position: relative;
    border: 1px solid black;
    width: 110px;
    height: 15px;
    right: 15px;
    top: 10px;
    background: linear-gradient(to right,#32CD32
    ,#FFD700);

}





.cano2{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    position: relative;
}



.cano-superior2{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border: 1px solid black;
    height: 300%        ;
    width: 80px;
    left: 50%;
    background: linear-gradient(to right,#32CD32
    ,#FFD700);

}



.cano-inferior2{
    display: flex;
    flex-direction: column-reverse;
    
    background: linear-gradient(to right,#32CD32
    ,#FFD700);
    position: relative;
    border: 1px solid black;
    height:100%;
    width: 80px;
    left: 50%;


}


.espaço2{
    position: relative;
    
    margin: 50px;
    left: 50%;
}


.cano-superior2 .tampa{
    position: relative;
    border: 1px solid black;
    width: 110px;
    right: 15px;
    top: -10px;
  
    height: 15px;
    background: linear-gradient(to right,#32CD32
    ,#FFD700);
}
.cano-inferior2 .tampa{
    position: relative;
    border: 1px solid black;
    width: 110px;
    height: 15px;
    right: 15px;
    top: 10px;
    background: linear-gradient(to right,#32CD32
    ,#FFD700);

}


.start{
    position: absolute;
    font-size: 40px;
    top: 40%;
    right: 70%;
    background: tomato;
    border-radius: 5%;
    padding: 10px;
    z-index: 999;

    transition: all 2s ease;
}


.start:hover{
    position: absolute;
    background: blue;
  
 
}

