*{
box-sizing: border-box;
}

@font-face {
    font-family: 'pixel';
    src: url('../fonts/Pixel.ttf');

}


[wm-flappy]{
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1000px;
    margin: 15px;
    background: deepskyblue;
    overflow: hidden;
}
.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;

}

.canos{
    position: absolute;
    display: flex;
    height: 100%;
   
    flex-direction: column;
    justify-content: space-between;
    
    
}

.cano{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
  

}

.borda{

    height: 130px;
    width: 100px;

    border-right:2px solid #000 ;
    border-left: 2px solid #000 ;

    background: linear-gradient(90deg,#639301,#a5e82e);


}

.tampa{
    border: 2px solid #000;
    background: linear-gradient(90deg,#639301,#a5e82e);
    height: 40px;
    width:  120px ;

    
}

.progresso {
    position: absolute;
    top:10px;
    right: 10px;
    font-family: pixel;
    font-size: 70px;
    z-index: 100;
}

