



[wm-flappy]{
    width: 55%;
    height: 55%;
     background-color: #56BCFC;
     border: 2px solid #3D7CB6;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
   
   }


.cano{
    position: relative;
    width: 80px;
    height: 100%;
    display: flex;
    border: 1px solid black;
    left: 50%;
    align-items: center;
    flex-flow: column nowrap;
    background: linear-gradient(to right,#32CD32,#FFD700);


}

.esp{
    position: absolute;
    background:#56BCFC ;
    height: 80px;
    width: 80px;
    top: 30%;
    border: #56BCFC solid 1px;
    z-index: 1;
    
    
}


.tampa-superior{
    height: 100px;
    border: 1px solid black;
    width: 30px;
}

