*{
box-sizing: border-box;
}

@font-face {
    font-family: 'pixel';
    src: url('../fonts/Pixel.ttf');

}


[wm-flappy]{
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1000px;
    margin: 15px;
    background: deepskyblue;
    overflow: hidden;
}
.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;

}

.cano{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.canoS{
    display: flex;
    align-items: center;
    flex-direction: column;

}


.canoS .tampa{
        height: 30px;
        width: 130px;
        background: linear-gradient(90deg,#639301,#a5e82e);
        border: 2px solid #000;
    
}
.canoS .borda{
    height: 100px;
    width: 110px;
    background: linear-gradient(90deg,#639301,#a5e82e);
    border-left: 2px solid #000 ;
    border-right: 2px solid #000;

    
}
